FGV - Escola de Matemática Aplicada
==
Introdução à Programação com a Linguagem Python
--

#### Acesso a Banco de Dados

Importando os Módulos

In [1]:
import pymysql
import getpass
import pandas.io.sql as psql

Estabelecendo uma Conexão

In [2]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', 
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='Alunos')

········

Utilizando cursores padrão

In [3]:
cur = conn.cursor()

Executado queries e examinando os resultados:

+ fetchall()  
+ fetchmany(num. registros)  
* fetchone()  

O cursor armazena os resultados da query

In [4]:
cur.execute("show databases;")
for r in cur.fetchall():
   print(r)

('information_schema',)
('Alunos',)
('Alunos2',)
('Reuters',)
('classicmodels',)

In [5]:
cur.execute('use Alunos2;')

0

In [6]:
cur.execute('show tables;')
for r in cur.fetchall():
   print(r)

('a',)
('account',)
('b',)
('branch',)
('business',)
('customer',)
('department',)
('employee',)
('individual',)
('officer',)
('perso',)
('product',)
('product_type',)
('transaction',)
('transaction_vw',)

In [7]:
cur.execute('select * from customer;')
for r in cur.fetchall():
   print(r)

(1, '111-11-1111', 'I', '47 Mockingbird Ln', 'Lynnfield', 'MA', '01940')
(2, '222-22-2222', 'I', '372 Clearwater Blvd', 'Woburn', 'MA', '01801')
(3, '333-33-3333', 'I', '18 Jessup Rd', 'Quincy', 'MA', '02169')
(4, '444-44-4444', 'I', '12 Buchanan Ln', 'Waltham', 'MA', '02451')
(5, '555-55-5555', 'I', '2341 Main St', 'Salem', 'NH', '03079')
(6, '666-66-6666', 'I', '12 Blaylock Ln', 'Waltham', 'MA', '02451')
(7, '777-77-7777', 'I', '29 Admiral Ln', 'Wilmington', 'MA', '01887')
(8, '888-88-8888', 'I', '472 Freedom Rd', 'Salem', 'NH', '03079')
(9, '999-99-9999', 'I', '29 Maple St', 'Newton', 'MA', '02458')
(10, '04-1111111', 'B', '7 Industrial Way', 'Salem', 'NH', '03079')
(11, '04-2222222', 'B', '287A Corporate Ave', 'Wilmington', 'MA', '01887')
(12, '04-3333333', 'B', '789 Main St', 'Salem', 'NH', '03079')
(13, '04-4444444', 'B', '4772 Presidential Way', 'Quincy', 'MA', '02169')

In [8]:
cur.execute('select * from customer;')
for r in cur.fetchmany(5):
   print(r)

(1, '111-11-1111', 'I', '47 Mockingbird Ln', 'Lynnfield', 'MA', '01940')
(2, '222-22-2222', 'I', '372 Clearwater Blvd', 'Woburn', 'MA', '01801')
(3, '333-33-3333', 'I', '18 Jessup Rd', 'Quincy', 'MA', '02169')
(4, '444-44-4444', 'I', '12 Buchanan Ln', 'Waltham', 'MA', '02451')
(5, '555-55-5555', 'I', '2341 Main St', 'Salem', 'NH', '03079')

Criando uma tabela no Banco de Dados

In [9]:
cur.execute("USE Alunos;")
cur.execute('''CREATE TABLE IF NOT EXISTS tabela_nova 
               (text VARCHAR(200) DEFAULT NULL,
                number INT DEFAULT NULL)
               ENGINE=MyISAM DEFAULT CHARSET='utf8';''')

0

In [10]:
cur.execute("show tables;")
for r in cur.fetchall():
   print(r)

('Caldinha',)
('Felipe',)
('Felvc',)
('Giovanni',)
('MatheusAssis',)
('Paula',)
('Pauladaco',)
('Pauladaco2',)
('VictorBitaraes',)
('almada',)
('almada2',)
('ananda',)
('ananda2',)
('brenogomes',)
('bruna',)
('brunaf',)
('daphne',)
('eu',)
('formiga',)
('giovanni',)
('harllos',)
('marlon',)
('matheus_aranda',)
('matheus_aranda2',)
('matheussouza',)
('mp_favorite_food',)
('msouza',)
('pet',)
('renata',)
('renata2',)
('renata2_food',)
('renato',)
('renato2',)
('renato3',)
('tabela_nova',)
('victor',)
('vini',)
('vinicius',)

In [11]:
cur.execute("describe tabela_nova;")
for r in cur.fetchall():
   print(r)

('text', 'varchar(200)', 'YES', '', None, '')
('number', 'int(11)', 'YES', '', None, '')

Inserindo registros na nova tabela:

Inserindo um registro:

In [12]:
texto = 'Um novo texto para inserir na tabela'
numero = 245

cur.execute('INSERT INTO Alunos.tabela_nova (text,number) VALUES (%s,%s)',(texto,numero))

1

In [13]:
cur.execute("select * from tabela_nova;")
for r in cur.fetchall():
   print(r)

('Um novo texto para inserir na tabela', 245)

Inserindo vários registros

In [14]:
texts = ['It always seems impossible until its done.',
         'In order to succeed, we must first believe that we can.',
         'Life is 10% what happens to you and 90% how you react to it.',
         'Start where you are. Use what you have. Do what you can.',]

numbers = [12,23,34,45]

regs = zip(texts,numbers)

cur.executemany('INSERT INTO Alunos.tabela_nova (text,number) VALUES (%s,%s)', (regs))

4

In [15]:
cur.execute("select * from tabela_nova;")
for r in cur.fetchall():
   print(r)

('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)

In [16]:
cur.execute("DROP TABLE IF EXISTS tabela_nova")

OperationalError: (1142, "DROP command denied to user 'aluno'@'localhost' for table 'tabela_nova'")

Criando uma tabela com um arquivo SQL

In [17]:
cur.execute('use Alunos2;')

q = '''

-- MySQL dump 10.13  Distrib 5.7.4-m14, for Linux (x86_64)
--
-- Host: localhost    Database: matrix
-- ------------------------------------------------------
-- Server version	5.7.4-m14

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `a`
--

DROP TABLE IF EXISTS `a`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `a` (
  `row_num` int(11) NOT NULL,
  `col_num` int(11) NOT NULL,
  `value` int(11) DEFAULT NULL,
  PRIMARY KEY (`row_num`,`col_num`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `a`
--

LOCK TABLES `a` WRITE;
/*!40000 ALTER TABLE `a` DISABLE KEYS */;
INSERT INTO `a` VALUES (0,3,55),(0,4,78),(1,0,19),(1,2,21),(1,3,3),(1,4,81),(2,1,48),(2,2,50),(2,3,1),(3,2,33),(3,4,67),(4,0,95),(4,4,31);
/*!40000 ALTER TABLE `a` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `b`
--

DROP TABLE IF EXISTS `b`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `b` (
  `row_num` int(11) NOT NULL,
  `col_num` int(11) NOT NULL,
  `value` int(11) DEFAULT NULL,
  PRIMARY KEY (`row_num`,`col_num`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `b`
--

LOCK TABLES `b` WRITE;
/*!40000 ALTER TABLE `b` DISABLE KEYS */;
INSERT INTO `b` VALUES (0,1,73),(0,4,42),(1,2,82),(2,0,83),(2,1,13),(2,3,57),(3,0,48),(3,1,85),(3,2,18),(3,3,24),(4,0,98),(4,1,7),(4,4,3);
/*!40000 ALTER TABLE `b` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2014-08-29 22:16:09

'''

cur.execute(q)

0

In [18]:
cur.execute('describe a;')
for r in cur.fetchall():
   print(r)

OperationalError: (1142, "DROP command denied to user 'aluno'@'localhost' for table 'a'")

In [19]:
cur.execute('describe b;')
for r in cur.fetchall():
   print(r)

KeyboardInterrupt:

Usando Pandas

(Basta passar a conexão estabelecida como parâmetro)

In [ ]:
df_mysql = psql.read_sql('select * from Alunos2.account;', con=conn)

In [ ]:
df_mysql.head()

### Exercícios

In [ ]:
cur.execute('use Alunos2;')
cur.execute('show tables;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('describe account;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('select * from account limit 5;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('describe product;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('select * from product;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('describe product_type;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('select * from product_type;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('describe employee;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('select * from employee limit 10;')
for r in cur.fetchall():
   print(r)

1 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance"?

2 - Quais registros na tabela "account" estão acima da média de "avail_balance"?

3 - Na tabela "account", quais as datas mais recentes e mais antigas ("open_date")?

4 - Para cada elemento na tabela "product", exiba o nome completo do "product_type_cd" (tabela "product_type")

5 - Quantos empregados ("employees") possuem a letra "e" em seus nomes? E quantos tem sobrenomes que terminam com "r"?

6 - Quais são os títulos ("title") possíveis para os empregados ("employees")?

7 - Quantos empregados ("employees") estão a exatamente dois níveis abaixo do presidente?

8 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance" por tipo de 'product_cd' ?

9 - Na tabela "transaction", há quantos registros por ano ("txn_date") e por empregado ("teller_emp_id")?

In [ ]:
cur.execute('describe transaction;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('select * from transaction limit 5;')
for r in cur.fetchall():
   print(r)

10 - Você é dono de uma loja de automóveis. Crie tabelas no banco "Alunos" para representar os carros de seu pátio, os modelos de automóveis, os clientes e as compras realizadas.

11 - Crie uma lista no Python com todos os nomes e sobrenomes em strings únicas, a partir da tabela "individual"

In [ ]:
cur.execute('describe individual;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('select * from individual limit 10;')
for r in cur.fetchall():
   print(r)

12 - A partir da tabela "individual", crie um dicionário no Python tendo os nomes e sobrenomes em strings únicas como chaves e as datas como valores.